:host, :host > p-panel, :host > p-panel > /deep/ div {
  flex: 1;
  display: flex;
  flex-direction: column;
  /deep/ .ui-panel-content-wrapper {
    display: flex;
    overflow: auto;
  }
}

form {
  min-width: 250px;
  overflow: auto;

  .taskActions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}