@import '../base-task/base.task';

p-panel {
  flex: 1;
  display: flex;
}

form {
  min-width: 250px;
  padding: 10px;

  .taskActions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
