<md-toolbar color="primary">
  Calendarios y tareas
</md-toolbar>

<div id="schedule-list-container">
  <div id="schedule-list-panel">
    <p-dataList [value]='scheduleLists'>
      <p-header>Lista calendarios</p-header>
      <ng-template
        let-scheduleList
        let-i='index'
        pTemplate="item"
      >
        <div
          class="schedule-list-container"
          [ngClass]="{selected: selectedListId === scheduleList.id}"
          (click)='setSelectedList(scheduleList)'
        >
          <div *ngIf="scheduleList.id !== ''; else showAll">
            <div class="name">
              <b>Nombre:</b> {{ scheduleList.name }}
            </div>
            <div class="isListActive">
              <b>Activo:</b> {{ scheduleList.active }}
            </div>
          </div>
          <ng-template #showAll>
            <div class="name">
              <b>{{ scheduleList.name }}</b>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </p-dataList>
  </div>
  <div id="schedule-item-panel">
    <p-dataList [value]='taskLists'>
      <p-header>Lista tareas</p-header>
    </p-dataList>
  </div>
  <div id="schedule-queue-panel">
    <p-dataList [value]='taskQueue'>
      <p-header>Cola tareas</p-header>
    </p-dataList>
  </div>
</div>

<button (click)='toogleNewListDialog(true)'>
  addItem
</button>

<p-dialog
  header='Nueva lista de calendarios'
  [modal]='true'
  [closable]='true'
  [dismissableMask]='false'
  [visible]="newListDialogState | async"
  (visibleChange)="toogleNewListDialog($event)">
  <form class="ui-g" [formGroup]='newListDialogForm'>
    <div class="ui-g-12">
      <label class="ui-g-4">Id</label>
      <input
        type="text"
        class="ui-g-8"
        pInputText
        disabled
        formControlName='id'
      >
    </div>
    <div class="ui-g-12">
      <label class="ui-g-4">Nombre</label>
      <input
        type="text"
        class="ui-g-8"
        pInputText
        formControlName='name'
      >
      <div class="ui-g-12 ui-message ui-messages-error ui-corner-all"
        *ngIf="
          newListDialogForm.controls['name'].invalid &&
          newListDialogForm.controls['name'].dirty
        "
      >
        <div *ngIf="newListDialogForm.controls['name'].hasError('required'); else newListNameErrorLength">
          <i class="fa fa-close"></i>
          Nobre es requerido
        </div>
        <ng-template #newListNameErrorLength>
          <i class="fa fa-close"></i>
          Nobre minimo 4 caracteres
        </ng-template>
      </div>
    </div>
    <div class="ui-g-12">
      <label class="ui-g-4">Activo</label>
      <p-toggleButton
        class="ui-g-8"
        formControlName='active'
      ></p-toggleButton>
    </div>
  </form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button pButton
        label='Cancelar'
        type="button"
        icon='fa-times'
        class="ui-button-danger"
        (click)="toogleNewListDialog(false)"
      ></button>
      <button pButton
        label='Crear'
        type="button"
        icon='fa-check'
        class="ui-button-success"
        [disabled]="newListDialogForm.invalid"
        (click)="sendNewListDialog()"
      ></button>
    </div>
  </p-footer>
</p-dialog>

