<md-toolbar color="primary">
  Calendarios y tareas
</md-toolbar>

<div id="schedule-list-container">
  <div id="schedule-list-panel">
    <p-dataList [value]='scheduleLists'>
      <p-header>Lista calendarios</p-header>
      <ng-template
        let-scheduleList
        let-i='index'
        pTemplate="item"
      >
        <div
          class="schedule-list-container"
          [ngClass]="{selected: selectedListId === scheduleList.id}"
          (click)='setSelectedList(scheduleList)'
        >
          <div *ngIf="scheduleList.id !== ''; else showAll">
            <div class="name">
              <b>Nombre:</b> {{ scheduleList.name }}
            </div>
            <div class="isListActive">
              <b>Activo:</b> {{ scheduleList.active }}
            </div>
          </div>
          <ng-template #showAll>
            <div class="name">
              <b>{{ scheduleList.name }}</b>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </p-dataList>
  </div>
  <div id="schedule-item-panel">
    <p-dataList [value]='taskLists'>
      <p-header>Lista tareas</p-header>
    </p-dataList>
  </div>
  <div id="schedule-queue-panel">
    <p-dataList [value]='taskQueue'>
      <p-header>Cola tareas</p-header>
    </p-dataList>
  </div>
</div>

<button (click)='toogleNewListDialog(true)'>
  addItem
</button>

<p-dialog
  [modal]='true'
  [closable]='true'
  [dismissableMask]='true'
  [visible]="newListDialogState | async"
  (visibleChanged)="toogleNewListDialog($event)">

  <!--<p-header>
    Header content here
  </p-header>-->
  Content
  <p-footer>
    Footer content here
  </p-footer>
</p-dialog>

